<html>
    <head>
        <title>My blog referenced to Django Girls</title>
    </head>
    <body>
        
        <div>
            <h1><a href="">My first Blog</a></h1>
        </div>
        
        <div>
            <p>published: 02.02.2023, 16:58</p>
            <h2><a href="">My first post</a></h2>
            <p>Guten tag!</p>
        </div>
        
        <div>
            <p>revieled: 2023/2/3, 17:01</p>
            <h2><a href="">My 2nd post</a></h2>
            <p>Hi!</p>
        </div>

    </body>
</html>
